<h3><%= @post.title %></h3>





<p><%= link_to "Edit Post", edit_post_path(@post) %></li>
<p><%= link_to "Delete", post_path(@post),
                    :data => {:confirm => "Confirm?",
                    :method => "delete"} %></p>

<%if @post.comments.any? %>
  <h3>Comments in this section:</h3>

  <p>Comment:</p>
  <p>User Name:</p>

    <ul>
     <% @post.comments.each do |comment| %>
        <li><%= comment.text %>
        <button class="edit-btn"><%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %></button>
          <button><%= link_to "Delete Comment", post_comment_path(@post, comment),
                    :data => {:confirm => "Confirm?",
                    :method => "delete"} %></button></li>
     <% end %>
    </ul>
<% else %>

  <h3>There are no comments in this category yet.</h3>

<% end %>


<br>


<%= link_to 'Add a New Comment', new_post_comment_path(@post) %>
